@import './reset.scss';
$reduce:8;
$totalWidth:1080;
$totalHeight:1920;
@function pw($n) {
  @return #{$n/$totalWidth * 100+'%'};
}

@function ph($n) {
  @return #{$n/$totalHeight * 100+'%'};
}

@function rem($n) {
  @return #{$n/60 + 'rem'};
}

@mixin size-position($w, $h, $l, $t) {
  box-sizing: border-box;
  position: absolute;
  width: #{$w/$totalWidth * 100+'%'};
  height: #{$h/$totalHeight * 100+'%'};
  left: #{$l/$totalWidth * 100+'%'};
  top: #{$t/$totalHeight * 100+'%'};
}

@mixin size-position-rem($w, $h, $l, $t) {
  box-sizing: border-box;
  position: absolute;
  width: #{$w/60 + 'rem'};
  height: #{$h/60 + 'rem'};
  left: #{$l/60 + 'rem'};
  top: #{$t/60 + 'rem'};
}

html,
body {
  font-size: 16px;
  margin: 0;
  padding: 0;
  height: 100%;
  position: relative;
  user-select: none;
}

.mark {
  background-color: rgba(0, 0, 0, .5);
  width: 100%;
  height: 100%;
  display: none;
  position: absolute;
  z-index: 99;
  &-close {
    background-image: url(../images/close.png);
    background-size: 100% 100%;
  }
}

.tip {
  &-error {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 999;
    transform: translate(-50%, -50%);
    width: 50%;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.8);
    text-align: center;
    padding: rem(80) 0;
    display: none;
  }
  &-success {
    @extend .tip-error;
  }
}

// home start
.home {
  &__container {
    background-image: url('../images/home.jpg');
    background-size: 100% 100%;
  }
  &__link {
    // border: 1px solid #000;
    @include size-position(155,
    155,
    845,
    1221);
  }
  &__people {
    color: #fff;
    font-size: rem(60);
    position: absolute;
    top: ph(1360);
    left: 0;
    right: 0;
    text-align: center;
  }
  &__start {
    // border: 1px solid #000;
    @include size-position(1080 - 192 - 244,
    165,
    192,
    1221);
    text-decoration: none;
    -webkit-tap-highlight-color: transparent
  }
  &__close {
    @include size-position(65,
    0,
    970,
    174);
    padding-top: pw(65);
  }
  &__popup {
    @include size-position(915,
    1436,
    88,
    228);
    background-image: url('../images/activity.png');
    background-size: 100% 100%;
  }
}

// home end
.game {
  &__body {
    background-image: url('../images/game_bg.png');
  }
  &__user {
    @include size-position(200,
    200,
    64,
    45); // padding-top: pw(200);
    background-color: #fff;
    border-radius: 50%;
  }
  &__count {
    @include size-position(200,
    60,
    64,
    265);
    line-height: 1;
    color: #fff;
    text-align: center;
    font-size: rem(60);
  }
  &__time {
    &-tip {
      font-size: rem(56);
      color: #fff;
      position: absolute;
      top: ph(56);
      text-align: center;
      left: 0;
      right: 0;
    }
    &-num {
      @extend .game__time-tip;
      top: ph(120);
      font-size: rem(120);
    }
  }
  &__popup {
    &-score {
      background-image: url(../images/score.png);
      background-size: 100% 100%;
      @include size-position(1035,
      928,
      25,
      380);
    }
    &-user {
      background-color: #000;
      border-radius: 50%;
      @include size-position(306,
      612,
      388,
      16);
    }
    &-desc {
      font-size: rem(47);
      line-height: 1.5;
      color: #000;
      position: absolute;
      text-align: center;
      left: 0;
      right: 0;
      top: ph(1100);
    }
    &-ranking {
      @include size-position(440,
      250,
      80,
      1530);
    }
    &-award {
      @include size-position(440,
      250,
      560,
      1530);
    }
    &-again {
      background-image: url(../images/play-again.png);
      background-size: 100% 100%;
      @include size-position(473,
      137,
      303,
      1356);
    }
  }
  &__award {
    &-bg {
      background-image: url(../images/submit.png);
      background-size: 100% 100%;
      @include size-position(1035,
      1068,
      25,
      239);
    }
    &-name {
      border: 1px solid rgb(210, 103, 39);
      border-radius: rem(30);
      padding-left: pw(27);
      vertical-align: middle;
      color: rgb(102, 102, 102);
      @include size-position(684,
      118,
      195,
      786);
    }
    &-phone {
      @extend .game__award-name;
      @include size-position(684,
      118,
      195,
      948);
    }
    &-submit {
      border: 1px solid rgb(210, 103, 39);
      @include size-position(420,
      124,
      329,
      1120);
    }
  }
  &__ranking {
    &-bg {
      background-image: url(../images/ranking.png);
      background-size: 100% 100%;
      @include size-position(908,
      1434,
      86,
      228)
    }
    &-close {
      @include size-position(65,
      0,
      970,
      174);
      padding-top: pw(65);
    }
    &-self {
      font-size: rem(34);
      color: #000;
      position: absolute;
      top: ph(485);
      left: pw(206);
    }
    &-table {
      font-size: rem(34);
      color: #000;
      @include size-position(816,
      639,
      206,
      578);
      overflow-y: auto;
      &::-webkit-scrollbar {
        background-color: transparent;
      }
    }
    &-title {
      font-weight: 900;
      width: 100%;
      display: flex;
      li {
        flex: 1;
        display: flex;
        align-items: center;
      }
    }
    &-item {
      @extend .game__ranking-title;
      font-weight: 400;
      height: percentage(121/639);
      align-items: center;
    }
    &-avatar {
      width: percentage(87/204);
      height: 0;
      padding-top: percentage(87/204);
      overflow: hidden;
      background-color: #ccc;
      border-radius: 50%;
    }
  }
}

#gameZone {
  width: 100%;
  height: 67%;
  overflow: hidden;
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
}

#gridA {
  position: absolute;
  top: #{$reduce + '%'};
  width: 100%;
  height: #{100 - $reduce + '%'};
  transform: translate3d(0, 0, 0);
  display: flex;
  flex-wrap: wrap;
}

#gridB {
  position: absolute;
  top: #{$reduce + '%'};
  width: 100%;
  height: #{100 - $reduce + '%'};
  transform: translate3d(0, -100%, 0);
  display: flex;
  flex-wrap: wrap;
}

.smallGrid {
  width: 25%;
  height: 20%;
  padding: ph(8) pw(15);
  box-sizing: border-box;
}

.box {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.isBlack .box {
  background-image: url('../images/black.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.isWhite .box {
  background-image: url('../images/white.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

// .isSelect .box {
// opacity: 1;
// }
.error {
  background-color: red;
}

.error .box {
  border-color: transparent;
}