$reduce:4%;
$totalWidth:1080;
$totalHeight:1920;

@function percentWidth($n) {
  @return #{$n/$totalWidth * 100+'%'};
}

@function percentHeight($n) {
  @return #{$n/$totalHeight * 100+'%'};
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  position: relative;
}

// home start
.home {
  &__container {
    background-image: url('../images/home.jpg');
    background-size: 100% 100%;
  }

  &__link {
    position: absolute;
    right: percentWidth(50);
    top: percentHeight(1400);
    width: 10%;
    height: 5%;
    background-color: #000;
  }

  &__start {
    position: absolute;
    right: percentWidth(50);
    top: percentHeight(1400);
    width: 10%;
    height: 5%;
    background-color: #000;
  }
}

// home end

#gameZone {
  width: 100%;
  height: 100%;
  padding-top: $reduce;
  overflow: hidden;
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
}

#gridA {
  position: absolute;
  top: 4%;
  height: 80%;
  transform: translate3d(0, 0, 0);
  display: flex;
  flex-wrap: wrap;
}

#gridB {
  position: absolute;
  top: 4%;
  height: 80%;
  transform: translate3d(0, -100%, 0);
  display: flex;
  flex-wrap: wrap;
}

.smallGrid {
  width: 25%;
  height: 20%;
  box-sizing: border-box;
  padding: 5px 10px;
}

.box {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.isBlack .box {
  background-color: rgb(198, 221, 69);
}

.isSelect .box {
  background-color: #ccc;
}

.error {
  background-color: red;
}

.error .box {
  border-color: transparent;
}